/* body {
    display: relative;
} */
img {
    border-radius: 50%;
    text-align: center;
    width: 150px;
    height: 150px;
    pointer-events: none;
}
button{
    margin: 10px;
}
.Header {
    text-align: center;
}

.hole-container {
    text-align: center;
    /* align-content: center; */
    width: 900px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid red;
    left: 14%
}

.timer {
    width: 170px;
    font-size: 30px;
    background-color: aqua;
    position: fixed;
    top: 0;
    right: 0;
}

.row {
    display: flex;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    color: white;
    background-color: white;
    border: 2px solid brown;
}